{
  "extends": "fbjs",
  "rules": {
    "indent": [ 2, "tab" ],
    "no-tabs": 0,
    "react/jsx-filename-extension": [ 1, {
        "extensions": [ ".js", ".jsx" ]
      }
    ],
    "react/jsx-indent": [ 2, "tab" ],
    "react/jsx-indent-props": [ 2, "tab" ]
  }
}